.cartdiv{
    width: 70%;
    height: auto;
    background-color: rgb(167, 162, 172);
    margin: 40px;
    margin-top: 100px;
    position: absolute;
    right: 0px;
    padding: 50px;
    z-index: 20;
   
    
}

.span{
    margin: 20px 80px;
}